.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

button:disabled {
  color: gray;
}

.normal {
  color: black;
}

.success {
  color: green;
}

.danger {
  color: red;
}
