.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.inputElement {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  padding: 6px 10px;
  box-sizing: border-box;
}

.inputElement:focus {
  outline: none;
  background-color: #ccc;
}

.invalid {
  border: 1px solid red;
  background-color: salmon;
}

.message {
  color: red;
  margin-top: 0;
  font-size: 10px;
}
