.bar1,
.bar2,
.bar3 {
  z-index: 300;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: all 0.3s ease-out;
}

.close.bar1 {
  transform: rotate(0) translate(0);
}

.open.bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.close.bar2  {
  opacity: 1;
}

.open.bar2 {
  opacity: 0;
}

.close.bar3 {
  transform: rotate(0) translate(0);
}

.open.bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
